# ----------------------------------
# Python (가상 환경, 캐시, 빌드)
# ----------------------------------

.venv/
venv/
env/
ENV/
*.egg-info/

__pycache__/
*.pyc
*.pyo
*.pyd

build/
dist/
*.egg
*.whl

.pytest_cache/
.coverage
htmlcov/

# ----------------------------------
# Dataset
# ----------------------------------
*.csv


# ----------------------------------
# IDE (PyCharm)
# ----------------------------------

.idea/

# ----------------------------------
# 민감 정보 (Secrets)
# ----------------------------------

.env
*.env
.env.*

# macOS
.DS_Store

# Windows
Thumbs.db
node_modules

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules

.pnp.*
